asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.16.0
channels==0.17.3
daphne==0.15.0
Django==1.10.2
django-appconf==1.0.2
django-compressor==2.1
django-filter==0.15.3
djangorestframework==3.5.1
rcssmin==1.0.6
redis==2.10.5
rjsmin==1.0.12
six==1.10.0
Twisted==16.4.1
txaio==2.5.1
websockets==3.2
zope.interface==4.3.2
